# Don't push the .env file 
.env
*.log
*.mtar
env_cloud_ignored.json
env_config_ignored.json

# IDEs
.vscode
.reuse
.DS_Store

# legacy
2-rag_with_hana_knowledge_graph.ipynb
3-hybrid_rag.ipynb
data/LFA1.csv
data/LFA1.csv